#portafolio{
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
}

#portafolio h2{
    text-align: center;
    font-size: 40px;
}


.projects{
    display: grid;
    grid-template-columns: repeat(3, 28%);
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: auto;
}

.projects img{
    width: 300px;
    margin: 2px;
    border-radius: 10px;
}

@media screen and (max-width: 1090px){
    .projects{
        grid-template-columns: repeat(2, 50%);
        justify-items: center;
    }
    .projects div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 1090px) {
     .projects {
         grid-template-columns: none;
         justify-items: center;
         margin-bottom: 20px;
     }
}





